node_modules
dist
.turbo
coverage
*.snap
*.log
vendor
test
scripts
openspec
docs
.github
.cursor
apps/*/dist
apps/*/.turbo
apps/*/coverage
packages/*/dist
packages/*/.turbo
packages/*/coverage
server/dist
server/.turbo
server/coverage
**/node_modules
**/dist
**/.turbo
**/coverage
**/*.log
**/dev-tool-dist.zip
**/user-app-dist.zip
**/prism-update.tar
package.json
tsconfig*.json
turbo.json
pnpm-lock.yaml
pnpm-workspace.yaml
LICENSE
README.md
nixpacks.toml
.npmrc
